@font-face {
    font-family: "OpenSans";
    src: url(font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSansBold";
    src: url(font//OpenSans-Bold.ttf);
}
:root{
    --primary:#54524f;
}
*{
    margin: 0;
    padding: 0;
    font-family: OpenSans;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

/* *******************************************************     header    ************************************************/

header{
    background-image: url(images/header-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    position: relative;
}
nav{
    background-image: url(images/Shape-top.png);
    background-size:contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 40px;
}
nav img {
    width: 70px;
}
  
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
nav li{
    list-style: none;
    position: relative;
}
nav li a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
}
nav li input{
    background-color: rgba(127, 119, 112, 0.471);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
}
nav li button{
    position: absolute;
    background-color: transparent;
    right: 12px;
    top: 3px;
    border: none;
    color: var(--primary);
    font-size: 25px;
}
.hero{
    width: 90%;
    margin: auto;
}
h1{
    font-size: 65px;
    color: #deb37e;
    text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.22);
    width: 30%;
    font-family: OpenSansBold;
    margin-top: 100px;
}
.hero h3{
    font-size: 24px;
    color: var(--primary);
    margin: 10px 0 40px;
}
.hero button{
    background-color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    font-family: OpenSansBold;
    color: #776c64;
    border-radius: 50px;
}
.hero p{
    width: 35%;
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary);
    font-style: italic;
    margin-top: 20px;
}
.header_bottom{
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    
}
.header_bottom img{
    width: 100%;
    height: 150px;
}

/* *******************************************************     categorie    ************************************************/

.categorie{
    background-image: url(images/hiking.png);
    background-repeat: no-repeat;
    background-size: 30%;
    padding: 0px 0 100px;
}
.categorie_title{
    text-align: center;
}
.categorie_title h2{
    font-size: 60px;
    font-family: OpenSansBold;
    color: #e2a355;
}
.categorie_title p{
    width: 40%;
    margin: auto;
    font-size: 24px;
    color: #776c64;
    padding: 20px 0 80px;
}
.categorie_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categorie_div{
    width: 25%;
    background-color: #7f7770;

}
.categorie_div img{
    width: 100%;
}
.categorie_text{
    padding: 30px 20px 40px;
    color: white;
}
.categorie_text h3{
    font-size: 24px;
    font-family: OpenSansBold;
    margin-bottom: 10px;
}
.categorie_text p{
    line-height: 1.5;
    font-size: 17px;
}
.categorie_btn{
    text-align: center;
}
.categorie_btn button{
    background-color: #7f7770;
    color: white;
    font-size: 20px;
    font-family: OpenSansBold;
    border: none;
    padding: 18px 60px;  
    border-radius: 50px;
    margin-top: 50px; 
    letter-spacing: 5px;
}